@{
    // Obtener datos de sesión
    var usuarioNombre = Context.Session.GetString("UsuarioNombre") ?? "Usuario";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Contable</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" asp-append-version="true" />

    <!-- Fuente Nunito -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />

    <!-- SB Admin 2 CSS -->
    <link rel="stylesheet" href="~/css/sb-admin-2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.css" asp-append-version="true" />

    <!-- CSS personalizado -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-page="/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-calculator"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Sistema Contable</div>
            </a>

            <hr class="sidebar-divider my-0" />

            <li class="nav-item">
                <a class="nav-link" asp-page="/Index">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>

            <hr class="sidebar-divider" />

            <div class="sidebar-heading">
                Administración
            </div>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>

            <div class="mt-4">
                <a asp-page="/Privacy" class="btn btn-primary">
                    <i class="fas fa-shield-alt me-2"></i>Política de Privacidad
                </a>
            </div>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-user-tag"></i>
                    <span>Roles</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-desktop"></i>
                    <span>Pantallas</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-page="/EstadosAsientos/EstadoAsientos">
                    <i class="fas fa-fw fa-desktop"></i>
                    <span>Estados de Asientos</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-page="/PeriodosContable/PeriodoContableAdmin">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Períodos Contables</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block" />


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@usuarioNombre</span>
                                <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg" alt="Avatar" />
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="/Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End Topbar -->

                <div class="container-fluid">
                    <partial name="_Alerts" />
                    @RenderBody()
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; @DateTime.Now.Year - Sistema Contable - Desarrollos Ordenados S.A.</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js" asp-append-version="true"></script>

    <script src="~/js/sb-admin-2.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>